body {
	font-size: 0.9375em;
}

.topbar {
	background-color: #4A535C;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3em;
	z-index: 2;
}

.hamburger {
    position: absolute;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
}

.hamburger span {
    background-color: #EA6A0A;
    display: block;
    border-radius: 0.33333em;
    height: 0.33333em;
    margin: 0.33333em 0;
    width: 2em;
    position: relative;
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -ie-transition: all 1000ms;
    -o-transition: all 1000ms;
    transition: all 1000ms;
}

.hamburger.active span {
	background-color: white;
}

.hamburger.active span:nth-child(1) {
	transform: rotate(40deg) translateX(0.5em);
	width: 1.33333em;
}
.hamburger.active span:nth-child(2) {
	transform: translateX(-0.66666em);
}
.hamburger.active span:nth-child(3) {
	transform: rotate(-40deg) translateX(0.5em);
	width: 1.33333em;
}


.panel {
	background-color: #E7E7E7;
	width: 20em;
	height: 100%;
	position: fixed;
	top: 0;
	right: -20em;
	z-index: 1;
	margin-top: 3em;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
}


